@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-neutral-50 text-neutral-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
